* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  align-items: center;
  text-align: center;
}

body {
  align-items: center;
  justify-content: center;
}

p {
  display: inline;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}

h4 {
  display: block;
  padding: 0px 20px 20px 20px;
  color: rgb(87, 87, 87);
}

/*Header*/

.headerContainer {
  position: relative;
  justify-content: center;
  align-items: center;
}

.returnSymbol {
  position: absolute;
  top: 35px;
  left: 10px;
  font-size: 50px;
}

.header {
  padding-top: 20px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

/* WordToConjugate */

.wordToConjugate {
  background-color: rgb(243, 243, 243);
  text-align: center;
  height: 60px;
  font-size: 30px;
  padding: 10px 0px;
  margin-bottom: 20px;
}

/* FormTask */

.task {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

/* AnswerInput */

.inputForm {
  text-align: center;
  margin-bottom: 20px;
}

.answerInput {
  min-width: 20%;
  max-width: 80%;
  font-size: 30px;
  border: none;
  border-radius: 8px;
  border-bottom: 2px solid rgb(216, 230, 230);
}

.answerInput:focus {
  border: none;
  outline-width: 0;
  border-bottom: 2px solid rgb(216, 230, 230);
}

.submitButtonClass:hover {
  background-color: rgb(223, 223, 223);
}
.submitButtonClass:active {
  background-color: rgb(203, 203, 203);
}

/* GivenWordForm */

.givenWordForm {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Score */

.score {
  font-size: 25px;
  margin-bottom: 20px;
}

.correct {
  color: lightgreen;
}

.wrong {
  color: red;
}

/* Fieldset */

.fieldset {
  max-width: 500px;
  border-width: 2px;
  border-color: rgb(243, 243, 243);
  margin: auto;
}

.fieldsetLegend {
  padding: 20px 0px;
  padding-left: 40%;
  padding-right: 40%;
  font-size: 20px;
}

/* Setting */

.settingView {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  margin: auto;
  transition: 0.4s;
}

input:checked + .settingView {
  background-color: #66bb6a;
}

.settingView::after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .settingView::after {
  transform: translateX(30px);
}

.settingCheckbox {
  display: none;
}
